    &clk_hsi {
        status = "okay";
        clock-frequency = < DT_FREQ_M(16) >;
    };
    &clk_lse {
        status = "okay";
        clock-frequency = < DT_FREQ_K(32768) >;
    };
    &pll {
        div-m = <16>;
        mul-n = <336>;
        div-p = <4>;
        div-q = <4>;
        clocks = <&clk_hsi>;
        status = "okay";
    };
    &rcc {
        clocks = <&pll>;
        clock-frequency = <DT_FREQ_M(84)>;
        ahb-prescaler = <1>;
        apb1-prescaler = <2>;
        apb2-prescaler = <1>;
    };
    &rtc {
        clocks = <&rcc STM32_CLOCK_BUS_APB1 0x10000000>,
             <&rcc STM32_SRC_LSE RTC_SEL(2)>;
        status = "okay";
    };
